/*Importamos los archivos scss que referencian a las pages*/
@import 'scss/carrito.scss';    
@import 'scss/contactos.scss';
@import 'scss/info-producto.scss';
@import 'scss/productos.css';
@import 'scss/home.scss';

/*Implementacion de media queries*/

@import 'scss/mq/tablet.scss';



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    width: 100%;
}

