@mixin p_GENERAL ($font,$color,$margin,$cuerpo){
    font-size: $font;
    color: $color;
    margin:$margin;
    font-weight: $cuerpo;

}

@mixin flexbox ($display,$direction,$centrar){
    display: $display;
    flex-direction:$direction;
    justify-content: $centrar;
}